<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Appoinments DISPLAY PAGE</title>
</head>
<body>
<div class="col-lg-10 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title"> APPOINMENTS DISPLAY PAGE.......!</h4>
<!--                  <p class="card-description">-->
<!--                    Add class <code>.table</code>-->
<!--                  </p>-->
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>patientsname</th>
                          <th>patientstime</th>
                          <th>patientsnumber</th>
                            <th>Testname</th>
                          <th>User Name</th>
                          <th>Status</th>



                        </tr>
                      </thead>
                      <tbody>
                      {% for lab in labs %}
                        <tr>
                          <td>{{lab.patientsname}}</td>
                          <td>{{lab.patientstime}}</td>
                          <td>{{lab.patientsnumber}}</td>
                          <td>{{lab.Testname}}</td>
                          <td>{{lab.UserName}}</td>
                          <td>{{lab.Status}}</td>

                   <td>
             <form action="{% url 'labapproveedit' dataid=lab.id %}">
                         <button class="btn btn-success"> EDIT</button>
                     </form>
        </td>




                      {% endfor %}

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    {% if messages %}
        {% for i in messages %}
            {% if i.tags == 'warning' %}
                <script>
                    swal('{{i}}', '' ,'warning');

                </script>
            {% elif i.tags == 'error' %}
                <script>
                     swal('{{i}}', '' ,'warning');
                </script>
            {% elif i.tags == 'success' %}
                <script>
                     swal('{{i}}','','success');
                </script>
            {% else %}
                <script>
                    swal('{{i}}','','info');
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
</body>
</html>

{% endblock %}